<div id="extrares" style="padding:0 8px 8px" class="shadow">
    <div style="clear:both;overflow:hidden" id="brs">
        <h3 class="med" style="text-align:left">
        <%- title%>
        </h3>
    <%for (var i = 0, total = list.length; i < total; i++) {%>
        <div class="brs_col">
        <%for (var j = 0, total2 = list[i].length; j < total2; j++) {%>
            <p class="_e4b">
                <a href="<%= list[i][j]['url']%>"><%- list[i][j]['content']%></a>
            </p>
        <%}%>
        </div>
    <%}%>
    </div>
</div>