<footer> id="footcnt" class="<%= state.hasResult?'fbarcnt':''%>">
    <div class="_dQc _E2" id="fbar">
        <div class="fbar">
            <span class="_nW">
                <span id="fsr">
                    <!-- <a class="_eA" href="http://mlongbo.com/set_as_default_search_engine/" target="_blank">
                    设置为默认搜索引擎
                    </a> -->
                    <a class="_Gs unline">
                        Copyright&nbsp;&copy;&nbsp;GuSouK.com All Rights Reserved.
                    </a>
                </span><!--- span#fsr end -->
                <span id="fsl">
                    <a class="_eA" href="http://mlongbo.com/aboutgso/" target="_blank" title="我需要你的帮助">
                        <strong>捐助</strong>
                    </a>
                    <a class="_Gs" href="mailto:mlongbo@gmail.com?subject=[GuSou]-" target="_blank" title="快给我写信提建议啦">
                        <strong>给我发邮件</strong>
                    </a>
                    <a class="_Gs" href="/feedback" target="_blank" title="踊跃发言啦">
                        <strong>提建议</strong>
                    </a>
                    <a class="_Gs" href="http://www.zhihu.com/question/20161362" target="_blank">
                        如何用好Google搜索引擎
                    </a>
                    <a class="_Gs" href="javascript:void(0);" onclick="setAsDefault()">
                        <strong>设置为默认搜索引擎</strong>
                    </a>
                </span><!--- span#fsl end -->
            </span><!-- span._nW end -->
        </div><!-- div.fbar end -->
    </div><!-- div#fbar end -->
</footer>