<footer class="fbar">
  <span class="fsr">
      <a class="_eA">
          2014&nbsp;Copyright&nbsp;&copy;&nbsp;GuSouK.com
      </a>
  </span>
  <span class="fsl">
      <a class="_eA" href="http://www.zhihu.com/question/20161362" target="_blank">
          如何用好Google搜索引擎
      </a>
      <span class="_Gs dropdown">
        <a href="javascript:void(0);" onclick="plugin.common.swithDisplay('.dropdown-menu.friend-link');">
            友情链接
        </a>
        <ul class="dropdown-menu friend-link" style="min-width:80px;top: auto;margin-bottom: 5px;bottom: 100%;">
          <li><a href="http://shuoit.net/" target="_blank" onclick="plugin.common.swithDisplay('.dropdown-menu.friend-link');">说IT</a></li>
          <li><a href="http://mlongbo.com/" target="_blank" onclick="plugin.common.swithDisplay('.dropdown-menu.friend-link');">空谷幽兰</a></li>
        </ul>
      </span>
      <a class="_Gs" href="mailto:mlongbo@gmail.com?subject=[GuSou]-" target="_blank" title="快给我写信提建议啦">
          <strong>联系我</strong>
      </a>
      <a class="_Gs" href="https://github.com/lenbo-ma/gso/issues" target="_blank" title="踊跃发言啦">
          <strong>问题与建议</strong>
      </a>
      <a class="_Gs" href="http://jq.qq.com/?_wv=1027&k=PaD5gT" target="_blank">
          QQ群: 338257594
      </a>
  </span>
</footer>