<div class="search_result" id="search_result">
	<div class="s_r shadow">
		<div class="med none-result">
			<p>
				找不到和您的查询
				<br>
				"<em>
				<%= qs.noneQ%>
				</em>"
				<br>
				相符的内容或信息。
			</p>
			<p style="margin-top:1em">
				建议：
			</p>
			<ul>
				<li>
					请检查输入字词有无错误。
				</li>
				<li>
					请尝试其他的查询词
				</li>
				<li>
					请改用较常见的字词。
				</li>
				<li>
					请减少查询字词的数量。
				</li>
			</ul>
		</div>
	</div>
</div>