
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>意见收集页 - GuSou</title>
      <meta charset="utf-8"/>
      <meta name="description" content="谷搜意见收集页" />
      <link rel="shortcut icon" type="image/x-icon" href="<%= r_prefix %>/images/favicon.ico" />
      <link rel="bookmark" type="image/x-icon"  href="<%= r_prefix %>/images/favicon.ico" />
      <link rel="icon" href="<%= r_prefix %>/images/favicon.ico">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="<%= r_prefix %>/stylesheets/markdown.css" rel="stylesheet"></link>
</head>
<body>

	<h2>意见收集</h2>
	<p>欢迎各位踊跃发言~ ^_^ 内容不限(最好是关于功能和体验方面)。</p>
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="feedback" data-title="GuSou_FeedBack" data-url="http://gusou.in/feedback"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
		var duoshuoQuery = {short_name:"gusou"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
<!-- 多说公共JS代码 end -->
</body>
</html>