<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>Google Search</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
      <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel='stylesheet' href='/stylesheets/index.css' />
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/bower_components/todc-bootstrap/dist/css/todc-bootstrap.min.css"/>
  </head>
  <body>
  <div class="container">
      <form class="form-search" method="get" action="/search">
          <h2 class="form-search-heading">
              <img src="/images/doodle-for-google-winner-hong-kong-6255410503745536.4-hp.jpg"
                      alt="" class="img-responsive"/>
          </h2>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="" name="q">
              <button class="btn btn-default center-block" type="submit">搜索一下</button>
          </div>
      </form>

  </div> <!-- /container -->

  <!-- FOOTER
    <footer class="footer ">
        <p>Powered By Lenbo Ma</p>
    </footer>-->


    <!--<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
  </body>
</html>
