<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= title %></title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
      <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/bower_components/todc-bootstrap/dist/css/todc-bootstrap.min.css"/>
  </head>
  <body>
  <div>
      <div class="search-result">
          <div class="header-bar">
              <div class="logo">
                  <a href="/"><img width="167" height="373" src="/images/nav_logo.png"></a>
              </div>
              <div class="form_box">
                  <form action="/search" class="form-search">
                      <div class="form-group">
                          <input id="search_txt_id" class="form-control" type="text" name="q" value="java">
                          <button type="submit" class="btn btn-primary">搜索</button>
                      </div>
                  </form>
              </div>
          </div>


          <div class="content">
              <div class="content_header">
                  <div class="link">
                      <!--<a class="active" href="#">网页</a>-->
                      <!--<a href="#">图片</a>-->
                  </div>
              </div>
              <div class="result_stats">
                  找到约 61,000,000 条结果 （用时 0.36 秒）
              </div>
              <div class="search_result">
                  <div class="s_r">
                      <a target="_blank" class="title" href="https://java.com/download">Download Free <b>Java</b> Software</a>
                      <div class="visible_url">java.com</div>
                      <div class="min_content">This page is your source to download or update your existing <b>Java</b> Runtime
                          Environment (JRE, <b>Java</b> Runtime), also known as the <b>Java</b> plug-in (plugin), <b>Java</b>
                          &nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://www.java.com/cn"><b>java</b>.com: <b>Java</b> 与您</a>
                      <div class="visible_url">www.java.com</div>
                      <div class="min_content">立即下载适用于您的桌面计算机的<b>Java</b> 软件！ ... <b>Java</b> 与您, 立即下载. 免费<b>Java</b>
                          下载. » 什么是<b>Java</b>？ » 我有<b>Java</b> 吗？ » 是否需要帮助？ 所有<b>Java</b> 下载&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://code.google.com/p/gstreamer-java/">gstreamer-<b>java</b> - <b>Java</b> interface to the gstreamer framework - Google <b>...</b></a>
                      <div class="visible_url">code.google.com</div>
                      <div class="min_content">An unofficial/alternative set of <b>java</b> bindings for the gstreamer multimedia
                          framework. Please use the gstreamer-<b>java</b> google group to discuss using&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://zh.wikipedia.org/zh/Java"><b>Java</b> - 维基百科，自由的百科全书</a>
                      <div class="visible_url">zh.wikipedia.org</div>
                      <div class="min_content"><b>Java</b>编程语言的风格十分接近C++语言。继承了C++语言面向对象技术的核心，<b>Java</b>
                          舍弃了C++语言中容易引起错误的指針，改以引用取代，同時移除原C++與原來&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://code.google.com/p/gstreamer-java/wiki/GettingHelp">GettingHelp - gstreamer-<b>java</b> - Getting help, asking questions <b>...</b></a>
                      <div class="visible_url">code.google.com</div>
                      <div class="min_content">Oct 16, 2011 <b>...</b> Gstreamer <b>java</b> is merely a wrapper <b>Java</b> library around the gstreamer native C
                          binaries - you must be able to use the Gstreamer binaries&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html?ssSourceSiteId=otnjp"><b>Java</b> SE - Downloads | Oracle Technology Network | Oracle</a>
                      <div class="visible_url">www.oracle.com</div>
                      <div class="min_content">Runs <b>Java</b> applets and JavaBeans using <b>Java</b> Runtime Environment, instead of
                          the web browser&#39;s default virtual machine. Free. Browser plugin is part of the&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://code.google.com/p/gstreamer-java/wiki/GstreamerOnMacOSX">GstreamerOnMacOSX - gstreamer-<b>java</b> - Build instructions for <b>...</b></a>
                      <div class="visible_url">code.google.com</div>
                      <div class="min_content">Introduction. Although macports comes with a version of gstreamer, it is
                          somewhat old and incomplete - you won&#39;t be able to play most useful files (e.g.
                          XviD or&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://zh.wikipedia.org/zh/Java%E5%B9%B3%E8%87%BA"><b>Java</b>平臺- 维基百科，自由的百科全书</a>
                      <div class="visible_url">zh.wikipedia.org</div>
                      <div class="min_content"><b>Java</b>平台即由<b>Java</b>程式語言所撰寫的軟體賴以執行的平台，是<b>Java</b>軟體和電腦系統
                          的中介，最初被設計用在 Applet 等桌面端程式，不過後來逐漸轉移到伺服端的運用&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="https://blogs.oracle.com/java/entry/virtual_developer_day_java_2014"><b>Java</b> Virtual Developer Day (The <b>Java</b> Source)</a>
                      <div class="visible_url">blogs.oracle.com</div>
                      <div class="min_content">Mar 31, 2014 <b>...</b> Want all the the advantages of attending a great <b>Java</b> conference without all the
                          hassles of traveling? Join us for Oracle&#39;s <b>Java</b> Virtual&nbsp;...</div>
                  </div>

                  <div class="s_r">
                      <a target="_blank" class="title" href="http://nighthacking.com/nighthacking-java-8-tour/">NightHacking <b>Java</b> 8 Tour | NightHacking</a>
                      <div class="visible_url">nighthacking.com</div>
                      <div class="min_content">The NightHacking <b>Java</b> 8 Tour is the inaugural leg of the <b>Java</b> 8 Tour event
                          where the evangelism team will be crossing the globe to speak at conferences
                          and&nbsp;...</div>
                  </div>
              </div>
      </div>


  </div> <!-- /container -->

  <!-- FOOTER
    <footer class="footer ">
        <p>Powered By Lenbo Ma</p>
    </footer>-->


    <!--<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
  </body>
</html>
