<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
    <link rel="icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <meta charset="utf-8"/>
    <style>
        body {
            margin:0;
            padding:0;
            background: none repeat scroll 0 0 #f1f1f1;;
        }
        img {border:0;}

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }



        .m-button {
            display: inline-block;
            width: 85px;
            text-align: center;
            vertical-align: middle;
            font-size: 14px;
            font-weight: bold;
            height: 30px;
            padding: 0 8px;
            margin: 0;
            line-height: 30px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -webkit-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -ms-transition: all 0.218s;
            -o-transition: all 0.218s;
            transition: all 0.218s;
            border: 1px solid rgba(0,0,0,0.1);
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            cursor: default;
            margin-right: 10px;
            border: 1px solid #3079ed;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #4d90fe;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));  /* blue */
            background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
            background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
            background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
            background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
            background-image: linear-gradient(top,#4d90fe,#4787ed);
        }
        .m-button:hover {
            text-decoration: none;
            -webkit-transition: all 0.0s;
            -moz-transition: all 0.0s;
            -ms-transition: all 0.0s;
            -o-transition: all 0.0s;
            transition: all 0.0s;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            border: 1px solid #2f5bb7;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.3);
            background-color: #357ae8;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
            background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
            background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
            background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
            background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
            background-image: linear-gradient(top,#4d90fe,#357ae8);
        }
        .m-button:active {
            background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
            background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
            background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
            background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
            background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        }

        .s_submit,
        .s_submit:hover {
            margin-left: 10px;
            width: 80px;
            background-image: url("/images/search-white.png");
            _background-image: url("/images/search-white.jpg");
            background-repeat: no-repeat;
            background-position: 29px 5px;
        }

        .wrapper{
            min-height: 100%;
            position: relative;
        }

        .header-bar{
            position: relative;
            background-color: white;
            /*background-image: -webkit-gradient(radial,100 36,0,100 -40,120,from(#fafafa),to(#f1f1f1));*/
            border-bottom: 1px solid #e5e5e5;
            height: 50px;
            padding-top:10px;
            /*padding-bottom:17px;*/
        }

        .form_box{
            display:inline-block;
            /*margin-top: 5px;*/
            margin-left: 4px;
        }
        .form_box .s_text{
            padding: 4px 6px;
            border-spacing: 2px;
            color: #222;
            height:22px;
            width:210px;
            font: 17px arial,sans-serif;
        }

        .form_box .s_text:hover{
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            border:1px solid gray;
        }
        .form_box .s_text:active,
        .form_box .s_text:focus{
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: 1px solid #4D90FE;
        }
        .form_box .s_submit{
            margin-left: 0px;
            width:70px;
            /*background-position: 25px 5px;*/
        }

        .content {
            margin: 5px;
        }

        .s_r {
            background-color: white;
            margin-top: 6px;
        }
        .s_r .title{
            color: #1A0DAB;
            font-size: 18px;
            text-decoration: none;
        }
        .s_r .title:hover{
            text-decoration: underline;
        }
        .s_r .title em{
            color:#dd4b39;
            font-style:normal;
        }
        .s_r .visible_url{
            font-size: 13px;
            color:#006621;
            margin-bottom: 2px;
        }
        .s_r .visible_url em{
            font-weight: bold;
            font-style: normal;
        }

        .s_r .visible_url a{
            color:#006621;
        }

        .s_r .min_content{
            line-height: 1.4;
            word-wrap: break-word;
            color: #545454;
            font-size:13px;
        }
        .s_r .min_content b{
            color: #dd4b39;
            font-style: normal;
            font-weight: normal;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div>
        <div class="header-bar">
            <div class="form_box">
                <form action="/search" onsubmit="return document.getElementById('search_txt_id').value==''?false:true;">
                    <input id="search_txt_id" class="s_text" type="text" name="q" value="pure">
                    <input class="s_submit m-button" value="" type="submit">
                </form>
            </div>
        </div>


        <div class="content">
            <div class="search_result">

                <div class="s_r">
                    <a target="_blank" class="title" href="http://purecss.io/" name="r_url"><em>Pure</em></a>
                    <div class="visible_url"><b>pure</b>css.io/</div>
                    <div class="min_content">CSS with a minimal footprint. Pure is ridiculously tiny. The entire set of modules clocks in at 4.4KB* minified and gzipped. Crafted with mobile devices in mind, ...</div>
                </div>

                <div class="s_r">
                    <a target="_blank" class="title" href="http://www.pure.com/" name="r_url"><em>Pure</em>.com: Digital Radios, Internet Radios</a>
                    <div class="visible_url">www.<b>pure</b>.com/</div>
                    <div class="min_content">Pure produces award-winning DAB digital radios, internet radios and music streaming devices, including portable, hi-fi and in-car models.</div>
                </div>

                <div class="s_r">
                    <a target="_blank" class="title" href="http://pure-site.ap01.aws.af.cm/" name="r_url"><em>Pure</em>中文版– <em>Pure</em></a>
                    <div class="visible_url"><b>pure</b>-site.ap01.aws.af.cm/</div>
                    <div class="min_content">Pure中文版. 一个你可以应用到所有web项目的小巧的、响应式的CSS模块集. &lt;link rel=&quot;stylesheet&quot; href=&quot;http://yui.yahooapis.com/pure/0.3.0/pure-min.css&quot;&gt;.</div>
                </div>

                <div class="s_r">
                    <a target="_blank" class="title" href="http://www.iciba.com/pure/" name="r_url"><em>pure</em>是什么意思_<em>pure</em>的翻译_音标_读音_用法_例句_爱词霸 <b>...</b></a>
                    <div class="visible_url">www.iciba.com/<b>pure</b>/</div>
                    <div class="min_content">爱词霸权威在线词典,为您提供pure的中文意思,pure的用法讲解,pure的读音,pure的同义词,pure的反义词,pure的例句等英语服务。</div>
                </div>
            </div>

            <div class="navcnt">
                <span>

                </span>
            </div>
        </div>
    </div>
</div>
<!--这是我自己的网站统计   http://gso.mlongbo.com    请替换掉-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42596364-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
