
@media
only screen and (max-width: 760px) {
    body {
        background: none repeat scroll 0 0 #EEEEEE;;
    }

    .header-bar{
        background-color: white;
        height: 50px;
        padding-top:10px;
        padding-bottom:0px;
    }

    .form_box{
        display:inline-block;
        margin-top: 0px;
        margin-left: 7px;
    }

    .form_box .s_text{
        height:30px;
        width:71%;
    }

    .logo {
        display: none;
    }

    .form_box .s_submit{
        margin-left: 0px;
        width:20%;
        height: 39px;
    }

    .content {
        margin: 7px;
    }

    .search_result .s_r {
        background-color: white;
        margin-top: 8px;
        margin-bottom:0px;
        padding: 4px;
    }

    .search_result{
        margin-left:0px;
        width:100%;
    }

    .result_stats{
        display: none;
    }

    .navcnt {
        display: none;
    }
}