
@media
only screen and (max-width: 760px) {
    body {
        background: none repeat scroll 0 0 #EEEEEE;
    }

    .search-box{
        width: 100%;
        padding-right: 0px;
    }
    .search-box .glogo{
        background-size:269px 95px;
        height:95px;
        width:269px;
        margin:0 auto;
    }
    .search-box .s_box {
        padding: 10px 2px 0px 10px;
        height: 50px;
        width: 100%;
    }

    .search-box .s_text {
        width: 70%;
        line-height: 35px;
        height: 35px;
        font-size: 18px;
        padding-left: 0px;
    }

    .search-box .m-button {
        padding: 0px;
        margin:  0px;
        height: 38px;
    }

    .header-bar{
        background-color: white;
        height: 50px;
        padding-top:10px;
        padding-bottom:0px;
    }

    .form_box{
        display:block;
        margin-top: 0px;
        margin-left: 7px;
        /*float: right;*/
    }

    .form_box .s_text{
        height:30px;
        width:73%;
        /*width: 140px;*/
        /*width: 233px;*/
    }

    .logo{
        display:none;
        /*padding-left:5px;*/
        /*padding-right:0px;*/
        /*float: left;*/
    }

    .form_box .s_submit{
        margin-left: 0px;
        width: 55px;
        height: 39px;
    }

    .content {
        margin: 70px 7px 7px;
    }

    .search_result .s_r {
        background-color: white;
        margin-top: 8px;
        margin-bottom:0px;
        padding: 4px;
    }

    .s_r .title{
        line-height: 1.4;
    }

    .s_r .visible_url{
        line-height: 1.5;
    }

    .s_r .min_content{
        line-height: 1.7;
    }

    .search_result{
        margin-left:0px;
        width:100%;
    }

    .result_stats{
        display: none;
    }

    .navcnt {
        margin: 25px auto;
        width: 100%;
    }

    .navcnt table{
        display: none;
    }

    .next_page {
        display: inline-block;
        padding: 8px 8px;
        background-color: white;
        text-align: center;
        width: 30%;
        line-height: 1.4;
        word-wrap: break-word;
        color: #545454;
        font-size:16px;
        margin-bottom: 12px;
    }

    .shadow {
        -moz-box-shadow: 1px 1px 2px #aaaaaa;
        -webkit-box-shadow: 1px 1px 2px #aaaaaa;
        box-shadow: 1px 1px 2px #aaaaaa;
    }
}