body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer {
    color:#777;
    text-align:center;
    padding:30px 0;
    margin-top:70px;
    border-top:1px solid #e5e5e5;
    background-color:#f5f5f5
}
.footer a {
    color:#777
}


.form-search {
    max-width: 480px;
    /*padding: 19px 29px 29px;*/
    margin: 0 auto 20px;
    /*background-color: #fff;*/
    /*border: 1px solid #e5e5e5;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
    /*-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
    /*box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
}
.form-search .form-search,
.form-search .checkbox {
    margin-bottom: 10px;
}
.form-search input[type="text"],
.form-search input[type="password"] {
    font-size: 14px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}