<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <title>java - 谷搜客</title> 
  <meta charset="utf-8" /> 
  <meta name="description" content="谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。" /> 
  <meta name="keywords" content="谷歌 谷搜客 google 谷歌不能访问 gusouk" /> 
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="谷搜客" /> 
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /> 
  <link rel="bookmark" type="image/x-icon" href="/images/favicon.ico" /> 
  <link rel="icon" href="/images/favicon.ico" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1" /> 
  <link rel="stylesheet" href="/stylesheets/style_refactor.css" /> 
  <!--[if lt IE 9]><style>
                .headroom-pinned {
                    top: 0;
                }
                .headroom-unpinned {
                    top: -100px;
                }
        </style><![endif]--> 
 </head> 
 <body> 
  <div class="wrapper"> 
   <div class="search-result"> 
    <div class="header-bar shadow" id="header_bar"> 
     <div class="logo"> 
      <a href="/"><img width="167" height="373" src="/images/nav_logo.png" /></a> 
     </div> 
     <div class="form_box"> 
      <form action="/search"> 
       <input id="search_txt_id" class="s_text" type="text" name="q" value="java" autocomplete="off" /> 
       <input class="s_submit m-button" value="搜&nbsp;索" type="submit" /> 
      </form> 
     </div> 
    </div> 
    <div class="content"> 
     <div class="result_stats" id="result_stats">
       About 71,300,000 results 
      <nobr>
        (0.18 seconds)&nbsp; 
      </nobr> 
     </div> 
     <div class="search_result" id="search_result"> 
           <div class="s_r shadow"> 
       <a target="_blank" class="title" href="https://www.java.com/" name="r_url"><em>java</em>.com: <em>Java</em> + You</a> 
       <div class="visible_url">
         https://www. 
        <b>java</b>.com/ 
       </div> 
       <div class="min_content">
         A resource for 
        <em>Java</em> technology consumers, with a focus on Games. 
       </div> 
      </div> 
      <div class="s_r shadow"> 
       <a target="_blank" class="title" href="https://www.oracle.com/java/" name="r_url"><em>Java</em> Software | Oracle</a> 
       <div class="visible_url">
         https://www.oracle.com/ 
        <b>java</b>/ 
       </div> 
       <div class="min_content">
         Learn more about 
        <em>Java</em>, the #1 programming language. 
        <em>Java</em> software reduces costs, drives innovation, and improves application services. 
       </div> 
      </div> 
      <div class="s_r shadow"> 
       <a target="_blank" class="title" href="http://www.oracle.com/technetwork/java/" name="r_url">Oracle Technology Network for <em>Java</em> Developers | Oracle <b>...</b></a> 
       <div class="visible_url">
         www.oracle.com/technetwork/ 
        <b>java</b>/ 
       </div> 
       <div class="min_content">
         Oracle Technology Network is the ultimate, complete, and authoritative source of technical information and learning about 
        <em>Java</em>. 
       </div> 
      </div> 
      <div class="s_r shadow"> 
       <a target="_blank" class="title" href="http://www.oracle.com/technetwork/java/javase/downloads/index-jsp-138363.html" name="r_url"><em>Java</em> SE - Downloads | Oracle Technology Network | Oracle</a> 
       <div class="visible_url">
         www.oracle.com › 
        <a href="http://www.oracle.com/technetwork/java/index.html" onmousedown="return rwt(this,&quot;&quot;,&quot;&quot;,&quot;&quot;,&quot;6&quot;,&quot;AFQjCNHbnFd2gEY5jcX5KI3CRFN8oAvTDg&quot;,&quot;&quot;,&quot;0CDYQ6QUoADAF&quot;,&quot;&quot;,&quot;&quot;,event)" target="_blank">Java</a> › 
        <a href="http://www.oracle.com/technetwork/java/javase/index.html" onmousedown="return rwt(this,&quot;&quot;,&quot;&quot;,&quot;&quot;,&quot;6&quot;,&quot;AFQjCNH1g73UozdGGHpWDjic78VcX_X2pQ&quot;,&quot;&quot;,&quot;0CDcQ6QUoATAF&quot;,&quot;&quot;,&quot;&quot;,event)" target="_blank">Java SE</a> 
       </div> 
       <div class="min_content">
         Runs 
        <em>Java</em> applets and JavaBeans using 
        <em>Java</em> Runtime Environment, instead of the web browser's default virtual machine. Free. Browser plugin is part of the&nbsp;... 
       </div> 
      </div> 
      <div class="s_r shadow"> 
       <a target="_blank" class="title" href="http://en.wikipedia.org/wiki/Java_(programming_language)" name="r_url"><em>Java</em> (programming language) - Wikipedia, the free <b>...</b></a> 
       <div class="visible_url">
         en.wikipedia.org/wiki/ 
        <b>Java</b>_(programming_language) 
       </div> 
       <div class="min_content"> 
        <em>Java</em> is a computer programming language that is concurrent, class-based, object 
        <wbr />-oriented, and specifically designed to have as few implementation&nbsp;... 
       </div> 
      </div> 
      <div class="s_r shadow"> 
       <a target="_blank" class="title" href="http://en.wikipedia.org/wiki/Java_(software_platform)" name="r_url"><em>Java</em> (software platform) - Wikipedia, the free encyclopedia</a> 
       <div class="visible_url">
         en.wikipedia.org/wiki/ 
        <b>Java</b>_(software_platform) 
       </div> 
       <div class="min_content"> 
        <em>Java</em> is a set of several computer software products and specifications from Oracle Corporation that provides a system for developing application software and&nbsp;... 
       </div> 
      </div> 
      <div class="s_r shadow"> 
       <a target="_blank" class="title" href="http://www.java.net/" name="r_url"><em>Java</em>.net: Welcome</a> 
       <div class="visible_url">
         www. 
        <b>java</b>.net/ 
       </div> 
       <div class="min_content"> 
        <em>Java</em>.net is the source for 
        <em>Java</em> Technology Collaboration. 
       </div> 
      </div> 
     </div> 
     <div id="extrares" style="padding:0 8px"> 
      <div style="clear:both;overflow:hidden" id="brs"> 
       <h3 class="med" style="text-align:left">Searches related to <em>java</em></h3> 
       <div> 
        <div class="brs_col"> 
         <p class="_e4b"><a href="/search?q=java+update">java <b>update</b></a></p> 
         <p class="_e4b"><a href="/search?q=java+tutorial">java <b>tutorial</b></a></p> 
         <p class="_e4b"><a href="/search?q=java+api">java <b>api</b></a></p> 
         <p class="_e4b"><a href="/search?q=java+test">java <b>test</b></a></p> 
        </div> 
        <div class="brs_col"> 
         <p class="_e4b"><a href="/search?q=java+games">java <b>games</b></a></p> 
         <p class="_e4b"><a href="/search?q=java+64+bit">java <b>64 bit</b></a></p> 
         <p class="_e4b"><a href="/search?q=java+programming">java <b>programming</b></a></p> 
         <p class="_e4b"><a href="/search?q=verify+java"><b>verify</b> java</a></p> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="navcnt"> 
      <table> 
       <tbody> 
        <tr valign="top"> 
         <td class="b navend"><span class="csb" style="background-position:-24px 0;background-size:167px;width:28px"></span></td> 
         <td class="fl cur"><a class="fl cur"><span class="csb" style="background-position:-53px 0;background-size:167px;width:20px"></span> 1</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=10"><span class="csb" style="background-position:-74px 0;background-size:167px;width:20px"></span> 2</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=20"><span class="csb" style="background-position:-74px 0;background-size:167px;width:20px"></span> 3</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=30"><span class="csb pcommon"></span> 4</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=40"><span class="csb pcommon"></span> 5</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=50"><span class="csb pcommon"></span> 6</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=60"><span class="csb pcommon"></span> 7</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=70"><span class="csb pcommon"></span> 8</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=80"><span class="csb pcommon"></span> 9</a></td> 
         <td><a class="fl" href="/search?q=java&amp;start=90"><span class="csb pcommon"></span> 10</a></td> 
         <td class="b navend"><a class="pn" href="/search?q=java&amp;start=10" id="pnnext" style="text-decoration:none;text-align:left"><span class="csb" style="background-position:-96px 0;background-size:167px;width:71px"></span> <span class="txt" style="display:block;margin-left:53px">下一页</span></a></td> 
        </tr> 
       </tbody> 
      </table> 
     </div> 
    </div> 
   </div> 
  </div> 
     <div id="footcnt" class="fbarcnt"> 
        <div class="_dQc _E2" id="fbar"> 
         <div class="fbar"> 
          	<span class="_nW">
                  <span id="fsr">
                      <!-- <a class="_eA" href="http://mlongbo.com/set_as_default_search_engine/" target="_blank">
                          设置为默认搜索引擎
                      </a> -->
                      <a class="_Gs unline">
                          Copyright&nbsp;&copy;&nbsp;GuSouK.com All Rights Reserved.
                      </a>
                  </span>
                  <span id="fsl">
                      <a class="_eA" href="http://mlongbo.com/aboutgso/" target="_blank" title="我需要你的帮助">
                          <strong>捐助</strong>
                      </a>
                      <a class="_Gs" href="mailto:mlongbo@gmail.com?subject=[GuSou]-" target="_blank" title="快给我写信提建议啦">
                          <strong>给我发邮件</strong>
                      </a>
                      <a class="_Gs" href="/feedback" target="_blank" title="踊跃发言啦">
                          <strong>提建议</strong>
                      </a>
                      <a class="_Gs" href="http://www.zhihu.com/question/20161362" target="_blank">
                          如何用好Google搜索引擎
                      </a>
                      <a class="_Gs" href="javascript:void(0);" onclick="setAsDefault()">
                        <strong>设置为默认搜索引擎</strong>
                    </a>
                  </span>
              </span><!-- ._nW span end-->
         </div> <!-- #far divend-->
       </div> 
      </div> 
  <script type="text/javascript">!function(e){var n=document.querySelector("#header_bar"),o=new e(n,{classes:{pinned:"headroom-pinned",unpinned:"headroom-unpinned"}});o.init()}(Headroom),function(){this.setAsDefault=function(){return"ActiveXObject"in window&&window.external&&"AddSearchProvider"in window.external?window.external.AddSearchProvider("/opensearch.xml"):window.open("http://mlongbo.com/set_as_default_search_engine/"),!1}}();</script> 
  <script type="text/javascript" src="/javascripts/wordcheck.js?=v"></script> 
  <script type="text/javascript">console.info("谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。"),console.info("如果你觉得谷搜客对你有帮助，请资助(支付宝账号: mlongbo@gmail.com)我一下，资金将用于支持我开发及购买服务器资源。^_^"),console.info("希望能够让更多的获取知识，各自加油！");</script>  
 </body>
</html>